 <p style="color: red"><%= @alert %></p>

<%= bootstrap_form_with(model: [project, ticket], local: true, label_errors: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(ticket.errors.count, "error") %>
        prohibited this project from being saved:
        </h2>
        <ul>
        <% ticket.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
  <% end %>

  <%= form.text_field :name %>
  <%= form.text_area :description %>
  <% upload_url = upload_file_project_tickets_path(project) %>
  <div class="dropzone uploader mb-2" data-url="<%= upload_url %>"></div>
  <%= form.file_field :attachment, label: "File" %>
  
  <%= form.primary %>
<% end %>
