<div class="ticket">
  <header>
    <h1><%= @project.name %></h1>
  </header>
  <header>
    <h2><%= @ticket.name %></h2>
    <ul class="actions">
      <li><%= link_to "Edit Ticket", [:edit, @project, @ticket] %></li>
    </ul>
  </header>

  <table class='attributes'>
    <tr>
      <th>Author:</th>
      <td><%= @ticket.author.email %></td>
    </tr>
    <% if @ticket.state.present? %>
      <tr>
        <th>State:</th>
        <td><%= render @ticket.state %></td>
      </tr>
    <% end %>
    <tr>
      <th>Created:</th>
      <td><%= time_ago_in_words(@ticket.created_at) %> ago</td>
    </tr>
  </table>

  <hr>
  <p style="color: green"><%= notice %></p>
  <p style="color: red"><%= alert %></p>

  <%= simple_format(@ticket.description) %>

  <% comments = @ticket.comments.persisted.ordered %>
  <% if comments.any? %>
    <%= render comments %>
  <% else %>
    <p>There are no comments for this ticket.</p>
  <% end %>

  <%= render "comments/form", ticket: @ticket, comment: @comment %>

  <% if @ticket.attachments.present? %>
    <% @ticket.attachments.each do |attachment| %>
      <h4>Attachment</h4>
      <div class="attachments">
        <p>
          <%= link_to @ticket.attachment.filename,
          rails_blob_path(@ticket.attachment, disposition: 'attachment') %>
          (<%= number_to_human_size(@ticket.attachment.attachment.blob.byte_size) %>)
        </p>
      </div>
    <% end %>
  <% end %>
</div>