<header>
  <h1>Edit Project</h1>
</header>

<h1><%= sanitize @project.name %></h1>

<%= link_to 'Edit Project', edit_project_path(@project) %>

<%= render "form", project: @project %>

<br>

<div>
  <%= link_to "Show this project", @project %> |
  <%= link_to "Back to projects", projects_path %>
</div>
