<header>
  <h2>Tickets</h2>
  <ul class="actions">
    <li><%= link_to "New Ticket", new_project_ticket_path(@project) %></li>
  </ul>

  <ul class="tickets">
    <% @project.tickets.find_each do |ticket| %>
      <li>
        #<%= ticket.id %> -
        <%= link_to ticket.name, [@project, ticket] %>
      </li>
    <% end %>
  </ul>
</header>
<p style="color: green"><%= notice %></p>

<%= render @project %>


<div>
  <%= link_to "Edit Project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= link_to "Delete Project", 
      project_path(@project), 
      method: :delete,
      data: { confirm: "Are you sure you want to delete this project?" } 
  %>
</div>
